.task-started {
  background-color: rgba(var(--bs-success-rgb), 0.75) !important;
  color: white;
}

.task-done::before {
  content: "✅ Done:";
}

.task-done,
.task-skipped {
  .col {
    opacity: 0.4;
  }
}

.notAdmin .task-done,
.notAdmin .task-skipped {
  /* display: none; */
  overflow: hidden;

  padding: 0px;
  border-width: 0px;
  max-height: 0px;
}
