.hourly > table > tbody > tr > td,
.hourly > table > thead > tr > th {
  padding: 1em;
  border: 1px solid #ddd;
}

.hourly > table > thead > tr > th {
  font-weight: normal;
  text-align: center;
}

.hourly > table {
  border-collapse: collapse;
}
