/* .list-item:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.1);
  max-height: 1500px;
} */

body {
  background-color: transparent;
}

.list-item {
  padding-top: 1em;
  padding-bottom: 5em;
  border-bottom: 0.5em solid #555;
  border-top: 0.5em solid #555;
  max-height: 1000px;
  transition: 3s;
}

.card {
  --bs-card-bg: transparent;
}

table {
  position: relative;
}

thead > tr > th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

.table > :not(caption) > * > * {
  background: white;
}

.h1,
h1 {
  --bs-bg-opacity: 1;
  color: white;
}

.h2,
h2 {
  --bs-bg-opacity: 0.8;
  color: white;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

@media (max-width: 1200px) {
  label {
    display: block;
  }
}

html {
  font-size: 20px;
}

/* .isAdmin {
  display: none;
}

.admin .isAdmin {
  display: block;
} */

.notAdmin .isAdmin {
  display: none;
}
