.stripeable:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}

.card {
  --bs-card-bg: transparent;
}

table {
  position: relative;
}

thead > tr > th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

.table > :not(caption) > * > * {
  background: white;
}

.h1,
h1 {
  --bs-bg-opacity: 1;
  color: white;
}

.h2,
h2 {
  --bs-bg-opacity: 0.8;
  color: white;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

@media (max-width: 1200px) {
  label {
    display: block;
  }
}

html {
  font-size: 20px;
}
