/* TODO: figure out why survey.js alternating colors is not working*/
.sv-matrix-root tr:nth-child(even) {
  background-color: #ccc;
}

table {
  position: relative;
}

thead > tr > th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

.table > :not(caption) > * > * {
  background: white;
}
